<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APPS_FILES" value="D:\DProjects\GitHubProjects\Hydra\AppsFiles\"/>
    <add key="APPS_DATA" value="D:\DProjects\GitHubProjects\Hydra\AppsData\"/>
    <add key="DEFAULT_APP_PATH" value="~\Systems\Options\"/>
    <add key="DEFAULT_APP_PAGE" value="~\index.html"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
